#my_slider{
    position: relative;
    text-align: center;
    top: 10px;
}

#my_slider{
    margin: 0 auto;
}

#my_slides article{
    width: 20%;
    float: left;
}

#my_slides .my_image{
    width: 500%;
    line-height: 0;
}

#my_owerflow{
    width: 100%;
    overflow: hidden;
}

article img{
    width: 30%;
}

#my_desktop:checked ~ #slider{
    max-width: 960px;
}

label, a{
    cursor: pointer;
}

.all_inputs_and_img input{
    display: none;
}

#my_switch1:checked ~ #my_slides .my_image{
    margin-left: 0;
}

#my_switch2:checked ~ #my_slides .my_image{
    margin-left: -100%;
}

#my_switch3:checked ~ #my_slides .my_image{
    margin-left: -200%;
}

#my_switch4:checked ~ #my_slides .my_image{
    margin-left: -300%;
}

#my_controls{
    margin: -25% 0 0 0;
    width: 100%;
    height: 50px;
}

#my_active label{
    border-radius: 10px;
    display: inline-block;
    width: 15px;
    height: 15px;
    background: yellow;
}

#my_active{
    margin: 23% 0 0;
    text-align: center;
}

#my_active label:hover{
    background: yellowgreen;
    border-color: green !important;
}

#my_switch1:checked ~ #my_active label:nth-child(1),
#my_switch2:checked ~ #my_active label:nth-child(2),
#my_switch3:checked ~ #my_active label:nth-child(3),
#my_switch4:checked ~ #my_active label:nth-child(4){
    background: blue;
    border-color: aqua !important;
}

#my_slides .my_images{
    transition: 1s;
}
